<!-- projects/remote/src/app/todo/todo.component.html -->
<div class="todo-list">
    <h2>Todo List</h2>
    <ul>
      <li>
        <span>Learn Angular</span>
        <input type="checkbox" />
      </li>
      <li>
        <span>Implement Module Federation</span>
        <input type="checkbox" />
      </li>
      <li>
        <span>Build Todo List App</span>
        <input type="checkbox" checked />
      </li>
      <li>
        <span>Test the Applications</span>
        <input type="checkbox" />
      </li>
    </ul>
  </div>
  